<main class="content">
    <section id="description">
        <div class="line-divider">
            <div class="title-wrapper">
                <h1 class="title">
                    About
                </h1>
            </div>
        </div>
    </section>

    <section id="goal">
        <h1 class="subtitle">Goal</h1>
        <p class="description">This website was created for the SOLVE-IT framework developed by Christopher Hargreaves, Eoghan Casey and Harm van Beek. The purpose of this framework is to collect all data on techniques, weaknesses and mitigations in the field of digital forensics in one central location. This tool can then be used by people in the field to conduct research and/or investigations. The intention is to continuously expand this framework with new techniques that will be needed in the rapidly developing digital environment. The SOLVE-IT website is designed to present this data in a clearly structured and accessible manner, so that it can be found quickly and easily by all its users.</p>
    </section>

    <section id="data">
        <h1 class="subtitle">Finding data</h1>
        <p class="description">There are several ways to find data on the website:</p>
        <div class="table-background">
            <table class="entities">
                <tbody>
                    @for (findingData of findingDataList; track $index) {
                        <tr>
                            <td>
                                {{ findingData }}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

    <section id="pdf">
        <h1 class="subtitle">Create a PDF-file with the data</h1>
        <p class="description">Here are the steps to create a PDF-file of your found data:</p>
        <div class="table-background">
            <table class="entities">
                <tbody>
                    @for (createPdf of createPdfList; track $index) {
                        <tr>
                            <td>
                                {{ createPdf }}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </section>

    <section id="contribution">
        <h1 class="subtitle">Contribute</h1>
        <p class="description">To contribute to the goal of continuously expanding the framework with data on techniques, weaknesses, and mitigations, you can also submit your own data. Currently, these contributions are managed via Github. Read more <a href="https://github.com/SOLVE-IT-DF/solve-it?tab=contributing-ov-file" target="_blank">about how the contribution process precisely works</a>. In addition, if you have comments on existing techniques, weaknesses, or mitigations, you can go directly from the detailpage to the location on Github where this data is stored.</p>
    </section>
</main>