<div class="page-layout">

    <aside class="toc">
        <h2>Contents</h2>

        <ul>
            <li><a [routerLink]="[]" fragment="details">Details</a></li>
            <li><a [routerLink]="[]" fragment="risks">Risks</a></li>
            <li><a [routerLink]="[]" fragment="mitigations">Mitigations</a></li>
            <li><a [routerLink]="[]" fragment="references">References</a></li>
        </ul>
    </aside>

    <main class="content">
        @if (loadingWeakness) {
            <p>Loading weakness...</p>
        } @else {
            @if (weakness) {
                <p class="page-path">
                    <a routerLink="" class="path-link">Home</a> 
                    > 
                    @for (path of pathList; track $index) {
                        @if ((pathList.length - 1) != $index && (path.match('^C1') || path.match('^T1') || path.match('^W1') || path.match('^M1') || path.match('^Techniques$') || path.match('^Weaknesses$') || path.match('^Mitigations$'))) {
                            <a (click)="resetListPartialy($index)" [routerLink]="
                            path.startsWith('C1') ? '/categories/' + path.split(':')[0] :
                            path.startsWith('T1') ? '/techniques/' + path.split(':')[0] :
                            path.startsWith('W1') ? '/weaknesses/' + path.split(':')[0] :
                            path.startsWith('M1') ? '/mitigations/' + path.split(':')[0] :
                            path.match('^Techniques$') ? '/techniques/' :
                            path.match('^Weaknesses$') ? '/weaknesses/' :
                            path.match('^Mitigations$') ? '/mitigations/' :
                            '/other/'
                            "> {{ path }} </a>> 
                        } @else {
                            {{ path }} @if($index != (pathList.length - 1)){>}
                        }
                    }
                </p>
                <section class="pdf-checkbox">
                    Item on pdf list: <input type="checkbox" [(ngModel)]="isChecked" (ngModelChange)="onCheckboxChange($event)">
                </section>

                <section>
                      <div class="line-divider">
                            <div class="title-wrapper">
                                <h1 class="title">
                                    {{ weakness.id }}: {{ weakness.name }}
                                </h1>
                                <a href="https://github.com/SOLVE-IT-DF/solve-it/blob/main/data/weaknesses/{{ weaknessId }}.json" target="_blank" class="title-link">Weakness Github<i class="fas fa-arrow-up-right-from-square"></i></a>
                            </div>
                        </div>
                </section>

                <section id="details">
                    <h1 class="subtitle">Details</h1>
                    @if (weakness.details == null || weakness.details == "") {
                        <p><i class="fas fa-exclamation-triangle" style="color:red"></i>No details about this weakness are known yet.</p>
                    } @else {
                        <p>{{ weakness.details }}</p>
                    }
                </section>

                <section id="risks">
                    <h1 class="subtitle">Risks</h1>
                    @if (weakness.risks == null || weakness.risks.length == 0) {
                        <p><i class="fas fa-exclamation-triangle" style="color:red"></i>No risks for this weakness are known yet.</p>
                    } @else {
                        @for (risk of weakness.risks; track $index) {
                            <div class="entry-background">
                                <p>{{ risk }}</p>
                            </div>
                        }
                    }
                </section>

                <section id="mitigations">
                    <h1 class="subtitle">Mitigations</h1>
                    @if (weakness.mitigations == null || weakness.mitigations.length == 0) {
                        <p><i class="fas fa-exclamation-triangle" style="color:red"></i>No mitigations for this weakness are known yet.</p>
                    } @else {
                        <div class="table-background">
                            <table class="entities">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (mitigation of mitigations; track $index) {
                                        <tr>
                                            <td class="id">
                                                <a [routerLink]="['/mitigations', mitigation.id]">{{ mitigation.id }}</a>
                                            </td>
                                            <td class="name">
                                                <a [routerLink]="['/mitigations', mitigation.id]">{{ mitigation.name}}</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </section>

                <section id="references" style="margin-bottom: 2rem;">
                    <h1 class="subtitle">References</h1>
                    @if (weakness.references == null || weakness.references.length == 0) {
                        <p><i class="fas fa-exclamation-triangle" style="color:red"></i>No references for this weakness are known yet.</p>
                    } @else {
                        <div class="table-background">
                            <table class="entities">
                                <tbody>
                                    @for (reference of weakness.references; track $index) {
                                        <tr>
                                            <td>
                                                {{ reference }}
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </section>

            } @else {
                <p class="not-found">No weakness found.</p>
            }
        }
    </main>
</div>