<main class="content">
    @if (loadingTechniques) {
        <p>Loading techniques...</p>
    } @else {
        @if (techniqueList.length >= 1) {

            <section>
                <h1 class="title">Techniques</h1>
                <p>Dit is een beschrijving</p>
            </section>

            <section>
                <p class="entity-amount">Techniques: {{ techniqueList.length }}</p>
                <div class="table-background">
                    <table class="entities">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th class="description">Description</th>
                            </tr>
                        </thead>

                        <tbody>
                            @for (technique of techniqueList; track $index) {
                                <tr>
                                    <td class="id">
                                        <a [routerLink]="['/techniques', technique.id]">{{ technique.id }}</a>
                                    </td>
                                    <td class="name">
                                        <a [routerLink]="['/techniques', technique.id]">{{ technique.name}}</a>
                                    </td>
                                    <td class="description">
                                        @if (technique.description == null || technique.description == "") {
                                            <i class="fas fa-exclamation-triangle" style="color:red"></i>No description for this technique is known yet.
                                        } @else {
                                            {{ technique.description }}
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </section>

        } @else {
            <p class="not-found">No techniques found.</p>
        }
    }
</main>
