.page-layout {
    display: flex;
    margin-top: -16px;
    position: relative;
    top: var(--navbar-height);
}

html {
    scroll-behavior: smooth;
}

.not-found {
    font-size: 24px;
    padding: 2rem;
}

.content {
    flex: 1;
    width: 80%;
    margin-left: 20%;
    margin-bottom: 90px;
}

.content section {
    padding-bottom: 10px;
}

.content p {
    padding-left: 3rem;
    margin-top: 0;

    &.entity-amount {
        text-align: right;
        max-width: 90%;
    }
}

.page-path {
    padding-top: 1rem;
    font-size: 18px;

    & a {
        color: #006FFF;
        font-weight: 800;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.page-path-no-weakness {
    padding-top: 1rem;
    font-size: 18px;

    & a {
        color: #006FFF;
        font-weight: 800;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.title {
    position: relative;
    padding: 2rem;
    padding-left: 3rem;
    padding-top: 1rem;
    margin: 0;
    font-size: 36px;
    font-weight: 800;
}

.title::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    height: 5px;
    background-color: #D9D9D9;
}

.table-background {
    padding: 1rem;
    margin-left: 3rem;
    background: #004D46;
    border-radius: 12px;
    display: inline-block;
    max-width: 90%;
    min-width: 89%;
    margin-bottom: 3rem;
}

.entities {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 8px;

    & thead {
        background: #AEAEAE;

        & th {
            padding: 12px;
            text-align: left;
            font-weight: 600;
            border-bottom: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
        }

        & th:last-child {
            border-right: none;
        }

    }

    & tbody {
        & tr {
            background: #D9D9D9;
        }

        & td {
            padding: 12px;
            vertical-align: top;
            border-bottom: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
        }

        & td:last-child {
            border-right: none;
        }

        & tr:last-child td {
            border-bottom: none;
        }

        & a {
            color: #006FFF;
            font-weight: 800;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.selection-background {
    padding: 0.5rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    background: #004D46;
    border-radius: 12px;
    display: inline-block;
    position: relative;
}

.selection {
    width: 180px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #D9D9D9;
    font-weight: 600;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selection-arrow::after {
    content: '▼';
    position: absolute;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
}

.filters {
    width: 20%;
    position: fixed;
    border-right: 10px solid #888787;
    border-bottom: 10px solid #888787;
    border-radius: 0px 0px 12px 0px;
    padding-left: 2rem;
    background-color: #fffceb;
    height: 71.1vh;
    overflow-y: auto;

    & h2 {
        font-size: 32px;
    }

    & p {
        margin-left: 10px;
        text-decoration: underline;
        font-size: 20px;
    }

    .risk-type {
        margin-left: 30px;
        text-decoration: none;
        font-style: italic;
        font-size: 16px;
    }
}

.selection-filtering-background {
    padding: 0.5rem;
    margin-left: 5rem;
    background: #004D46;
    border-radius: 12px;
    display: inline-block;
    position: relative;
}

.selection-filtering-background:last-child {
    margin-bottom: 2rem;
}

.selection-filtering {
    width: 120px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #D9D9D9;
    font-weight: 600;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.selection-filtering-background-risk {
    padding: 0.5rem;
    margin-left: 6.5rem;
    background: #004D46;
    border-radius: 12px;
    display: inline-block;
    position: relative;
}

.selection-filtering-risk {
    width: 100px;
    padding: 12px;
    border-radius: 12px;
    border: none;
    background: #D9D9D9;
    font-weight: 600;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.filters-toggle {
    display: none;
}

.selection-bar {
    display: flex;
    align-items: center;
}

.filters-header {
    display: flex;
    gap: 1rem;
}

.reset-button {
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem; 
    background: #004D46; 
    border-radius: 12px;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.reset-button p {
    background: #D9D9D9;
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
    margin: 0;
    color: #000000;
}

.reset-button:hover {
    background: #00665E;
}

.risks-label {
    position: relative;
    display: inline-block;
}

.info-icon {
    position: absolute;
    top: -6px;
    right: -20px;
    font-size: 13px;
    text-align: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: transparent;
    border: 1.5px solid #000000;
    cursor: pointer;
}

::ng-deep .custom-tooltip .mdc-tooltip__surface {
    background-color: #888787;
    color: #000000;
    font-size: 14px;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    border: 1px solid #000000;
    white-space: pre-line;
    max-width: unset !important;
}

// for the filter reset button
@media only screen and (max-width: 1450px) {
    .filters-header {
        flex-direction: column;

        & .reset-button {
            margin-top: -1rem;
            width: 70%;
        }
    }
}

// small laptops
@media only screen and (max-width: 1350px) {
    .content {
        width: 100%;
        margin-left: 0%;
    }

    .filters {
        width: 280px;
        left: -280px;
        height: 71.1vh;
        z-index: 2;
        transition: left 0.3s ease;
    }

    .filters.open {
        left: 0;
    }

    .filters-toggle {
        display: block;
        position: fixed;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background-color: #888787;
        color: white;
        border: none;
        padding: 0.6rem 0.4rem;
        font-size: 1.4rem;
        cursor: pointer;
        z-index: 3;
        border-radius: 0 6px 6px 0;
        transition: transform 0.3s ease;
    }

    .filters-toggle.open {
        transform: translateY(-50%) translateX(280px) rotate(180deg);
        border-radius: 6px 0 0 6px;
    }

    .page-layout.open .not-found {
        margin-left: 19rem;
    }

    .page-layout.open .page-path-no-weakness {
        margin-left: 19rem;
    }

    .filters-header {
        flex-direction: row;

        & .reset-button {
            margin-top: 1.5rem;
            width: 50%;
        }
    }
}

// vertical-held tablets
@media only screen and (max-width: 824px) {
    .filters {
        height: 60vh;
    }

    .table-background {
        min-width: 0%;
    }

    .content {
        margin-bottom: 8rem;
    }
}

// large mobiles
@media only screen and (max-width: 600px) {
    .table-background {
        overflow: hidden;
        max-width: 85%;
    }

    .table-scroll {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .entities {
        min-width: 600px;
    }

    .selection-bar {  
        flex-direction: column;
        align-items: flex-start;
    }

    .page-layout.open .not-found {
        margin-left: 0rem;
    }

    .page-layout.open .page-path-no-weakness {
        margin-left: 0rem;
    }

    .filters-header {
        flex-direction: column;

        & .reset-button {
            margin-top: -1rem;
            width: 70%;
        }
    }
}

// small mobiles (supported until min-width: 320px)
@media only screen and (max-width: 400px) {
    .table-background {
        max-width: 75%;
    }

    .entities {
        max-width: none;

        th, td {
            max-width: 75px;
        }
    }
}