<div class="page-layout" [class.open]="filtersOpen">
    <aside class="filters" [class.open]="filtersOpen">

        <button class="filters-close" (click)="toggleFilters()">X</button>

        <div class="filters-header">
            <h2>Filters</h2>
            <button class="reset-button" (click)="resetFilters()">
                <p>Reset filters</p>
            </button>
        </div>

        <p>Details:</p>
        <div class="selection-filtering-background selection-arrow">
            <select [(ngModel)]="selectedFilters['details']" (change)="applyFiltersAndSort()" class="selection-filtering" id="details">
                <option value="">All</option>
                <option value="present">Present</option>
                <option value="absent">Absent</option>
            </select>
        </div>

        <p>Risks:</p>
        @for (risk of riskTypes; track $index) {
            <p class="risk-type">{{ risk }}:</p>
            <div class="selection-filtering-background-risk selection-arrow">
                <select [(ngModel)]="selectedFilters['risks'][risk]" (change)="applyFiltersAndSort()" class="selection-filtering-risk" id="risks">
                    <option value="">All</option>
                    <option value="present">Present</option>
                    <option value="absent">Absent</option>
                </select>
            </div>
        }

        <p>Mitigations:</p>
        <div class="selection-filtering-background selection-arrow">
            <select [(ngModel)]="selectedFilters['mitigations']" (change)="applyFiltersAndSort()" class="selection-filtering" id="mitigations">
                <option value="">All</option>
                <option value="0">0 entries</option>
                <option value="1-2">1-2 entries</option>
                <option value="3-4">3-4 entries</option>
                <option value="5+">5+ entries</option>
            </select>
        </div>

        <p>References:</p>
        <div class="selection-filtering-background selection-arrow">
            <select [(ngModel)]="selectedFilters['references']" (change)="applyFiltersAndSort()" class="selection-filtering" id="references">
                <option value="">All</option>
                <option value="present">Present</option>
                <option value="absent">Absent</option>
            </select>
        </div>

    </aside>

    <main class="content">
        @if (loadingWeaknesses) {
            <p>Loading weaknesses...</p>
        } @else {
            @if (weaknessList.length >= 1) {
                <p class="page-path">
                    <a routerLink="" class="path-link">Home</a> 
                    > 
                    @for (path of pathList; track $index) {
                            {{ path }} @if($index != (pathList.length - 1)){>}
                    }
                </p>

                <section>
                    <h1 class="title">Weaknesses</h1>
                    <p>This collection page lists the weaknesses from the SOLVE-IT framework. These weaknesses may arise when performing techniques, which could compromise the quality of the investigation or research.</p>
                </section>

                <section>
                    <section class="selection-bar">
                        <div class="selection-background selection-arrow">
                            <select [(ngModel)]="selectedSort" (change)="applyFiltersAndSort()" class="selection">
                                <option value="idAsc">ID (Low -> High)</option>
                                <option value="idDesc">ID (High -> Low)</option>
                                <option value="nameAsc">Name (A -> Z)</option>
                                <option value="nameDesc">Name (Z -> A)</option>
                            </select>
                        </div>

                        <div class="selection-background filters-button">
                            <button class="filters-toggle selection" (click)="toggleFilters()">
                                @if (!filtersOpen) {
                                    Show filters
                                } @else {
                                    Hide filters
                                }

                            </button>
                        </div>
                    </section>

                    <p class="entity-amount">Weaknesses: {{ weaknessList.length }}</p>
                    <div class="table-background">
                        <div class="table-scroll">
                            <table class="entities">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th class="name">Name</th>
                                        <th class="risks">
                                            <span class="risks-label">Risks 
                                                <span class="info-icon" 
                                                    matTooltip="- INCOMP: incompleteness
                                                                - INAC-EX: inaccuracy:existence
                                                                - INAC-AS: inaccuracy:association
                                                                - INAC-ALT: inaccuracy:alteration
                                                                - INAC-COR: inaccuracy:corruption
                                                                - MISINT: potential misinterpretation
                                                                " 
                                                    [matTooltipPosition]="positionOption" 
                                                    matTooltipClass="custom-tooltip">
                                                    i
                                                </span>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @for (weakness of weaknessList; track $index) {
                                        <tr>
                                            <td class="id">
                                                <a [routerLink]="['/weaknesses', weakness.id]">{{ weakness.id }}</a>
                                            </td>
                                            <td class="name">
                                                <a [routerLink]="['/weaknesses', weakness.id]">{{ weakness.name}}</a> ({{ weakness.mitigations.length }})
                                            </td>
                                            <td class="risks">
                                                @for (risk of weakness.risks; track $index) {
                                                    {{ risk }}
                                                    @if ($index < weakness.risks.length - 1) {
                                                        |
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>

            } @else {
                <p class="page-path-no-weakness">
                    <a routerLink="" class="path-link">Home</a> 
                    > 
                    @for (path of pathList; track $index) {
                            {{ path }} @if($index != (pathList.length - 1)){>}
                    }
                </p>
                <p class="not-found">No weaknesses found.</p>
                <div class="selection-background filters-button no-weakness-filter-button">
                    <button class="filters-toggle selection" (click)="toggleFilters()">
                        @if (!filtersOpen) {
                            Show filters
                        } @else {
                            Hide filters
                        }

                    </button>
                </div>
            }
        }
    </main>
</div>
