<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SOLVE-IT</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-logo">
                <a href=""><img src="/assets/logo.png" alt="Logo image"></a>
            </div>

            <div class="navbar-search">
                <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearchChange($event.target.value)">

                @if ( dropdownVisible && filteredItems.length >= 1) {
                <ul class="search-dropdown">
                    @for (item of filteredItems; track $index) {
                        <li (click)="onItemClick(item, $event)">
                            @for (part of getParts(item.id + ": " + item.name); track $index) {
                                <span [class.highlight]="part.highlight">{{ part.highlightedText }}</span>
                            }
                        </li>
                    }
                </ul>
                }
            </div>

            <div class="hamburger-button"
                [class.open]="menuOpen"
                (click)="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="navbar-links" [class.open]="menuOpen">
                <a (click)="closeMenu()" routerLink="/techniques" [routerLinkActive]="['active']">Techniques</a>
                <a (click)="closeMenu()" routerLink="/weaknesses" [routerLinkActive]="['active']">Weaknesses</a>
                <a (click)="closeMenu()" routerLink="/mitigations" [routerLinkActive]="['active']">Mitigations</a>
                <a (click)="closeMenu()" href="https://github.com/SOLVE-IT-DF/solve-it/tree/main/data" target="_blank">Github<i class="fas fa-arrow-up-right-from-square"></i></a>
                <a (click)="closeMenu()" routerLink="/pdfMaker" [routerLinkActive]="['active']">PDF Maker<i class="fas fa-clipboard-list"></i></a>
                <a (click)="closeMenu()" routerLink="/about" [routerLinkActive]="['active']">About</a>
            </div>
        </nav>
    </body>
</html>