<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SOLVE-IT</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-logo">
                <a href=""><img src="/assets/logo.png" alt="Logo image"></a>
            </div>

            <div class="navbar-search">
                <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (input)="onSearchChange($event.target.value)">

                @if ( dropdownVisible && filteredItems.length >= 1) {
                <ul class="search-dropdown">
                    @for (item of filteredItems; track $index) {
                        <li [routerLink]="
                            item.id.startsWith('C') ? '/categories/' + item.id :
                            item.id.startsWith('T') ? '/techniques/' + item.id :
                            item.id.startsWith('W') ? '/weaknesses/' + item.id :
                            item.id.startsWith('M') ? '/mitigations/' + item.id :
                            '/other/' + item.id
                        "
                        (click)="onItemClick($event)">
                            {{ item.id }}: 
                            @for (part of getNameParts(item.name); track $index) {
                                <span [class.highlight]="part.highlight">{{ part.text }}</span>
                            }
                        </li>
                    }
                </ul>
                }
            </div>

            <div class="navbar-links">
                <a routerLink="/techniques" [routerLinkActive]="['active']">Techniques</a>
                <a routerLink="/weaknesses" [routerLinkActive]="['active']">Weaknesses</a>
                <a routerLink="/mitigations" [routerLinkActive]="['active']">Mitigations</a>
                <a href="https://github.com/SOLVE-IT-DF/solve-it/tree/main/data" target="_blank">Github<i class="fas fa-arrow-up-right-from-square"></i></a>
                <a routerLink="/about" [routerLinkActive]="['active']">About</a>
            </div>
        </nav>
    </body>
</html>