<div class="page-layout">

    <button
        class="toc-toggle"
        (click)="toggleToc()"
        [class.open]="tocOpen"
        aria-label="Toggle table of contents"
    >
    ->
    </button>

    <aside class="toc" [class.open]="tocOpen">
        <h2>Contents</h2>

        <ul>
            <li><a (click)="scrollTo('technique')">Technique</a></li>
            <li><a (click)="scrollTo('references')">References</a></li>
        </ul>
    </aside>

    <main class="content">
        @if (loadingMitigation) {
            <p>Loading mitigation...</p>
        } @else {
            @if (mitigation) {
                <p class="page-path">
                    <a routerLink="" class="path-link">Home</a> 
                    > 
                    @for (path of pathList; track $index) {
                        @if ((pathList.length - 1) != $index) {
                            <a (click)="onClickPath(path, $index)" [routerLink]="
                            path.startsWith('C1') ? '/categories/' + path.split(':')[0] :
                            path.startsWith('T1') ? '/techniques/' + path.split(':')[0] :
                            path.startsWith('W1') ? '/weaknesses/' + path.split(':')[0] :
                            path.startsWith('M1') ? '/mitigations/' + path.split(':')[0] :
                            path.match('^Techniques$') ? '/techniques/' :
                            path.match('^Weaknesses$') ? '/weaknesses/' :
                            path.match('^Mitigations$') ? '/mitigations/' :
                            ''
                            "> {{ path }} </a>> 
                        } @else {
                            {{ path }} @if($index != (pathList.length - 1)){>}
                        }
                    }
                </p>
                <section class="pdf-checkbox">
                    Item on pdf list: <input type="checkbox" [(ngModel)]="isChecked" (ngModelChange)="onCheckboxChange($event)">
                </section>

                <section>
                      <div class="line-divider">
                            <div class="title-wrapper">
                                <h1 class="title">
                                    {{ mitigation.id }}: {{ mitigation.name }}
                                </h1>
                                <a href="https://github.com/SOLVE-IT-DF/solve-it/blob/main/data/mitigations/{{ mitigationId }}.json" target="_blank" class="title-link">Mitigation Github<i class="fas fa-arrow-up-right-from-square"></i></a>
                            </div>
                        </div>
                </section>

                <section id="technique" style="margin-top: 2rem;">
                    <h1 class="subtitle">Technique</h1>
                    @if (technique == null) {
                        <p>There is no technique linked to this mitigation.</p>
                    } @else {
                        <div class="table-background">
                            <div class="table-scroll">
                                <table class="entities">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th class="description">Description</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="id">
                                                <a [routerLink]="['/techniques', technique.id]">{{ technique.id }}</a>
                                            </td>
                                            <td class="name">
                                                <a [routerLink]="['/techniques', technique.id]">{{ technique.name}}</a> ({{ technique.weaknesses.length }})
                                            </td>
                                            <td class="description">
                                                {{ technique.description }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </section>

                <section id="references" style="margin-bottom: 4rem; margin-top: 2rem;">
                    <h1 class="subtitle">References</h1>
                    @if (mitigation.references == null || mitigation.references.length == 0) {
                        <p><i class="fas fa-exclamation-triangle" style="color:red"></i>No references for this mitigation are known yet.</p>
                    } @else {
                        <div class="table-background">
                            <div class="table-scroll">
                                <table class="entities">
                                    <tbody>
                                        @for (reference of mitigation.references; track $index) {
                                            <tr>
                                                <td>
                                                    {{ reference }}
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                </section>

            } @else {
                <p class="not-found">No mitigation found.</p>
            }
        }
    </main>
</div>